<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <tilte>Variabili</tilte>
        </head>
        <body>
            <ol>
                <li>{{var1}}</li> <!--le parentesi in indicano che il contenuto è il nomedi un a variabile da visualizzare-->
                <li>{{var2}}</li>
                <li>{{var3}}</li>
            </ol>
        </body>
</html>