{%extends "base.html"%}

{%block  title%} {{block.super}} | index_5 {%endblock title%}

{%block content%}
      <ol>
            <li><a href="{% url 'index_root'%}">Index root</a></li>        
            <li><a href="{% url 'voti:lista_materie'%}">Lista materie (view_a)</a></li>        
            <li><a href="{% url 'voti:voti_studenti'%}">Voti studenti (view_b)</a></li>
            <li><a href="{% url 'voti:media_studenti'%}">Media studenti (view_c)</a></li>   
            <li><a href="{% url 'voti:max_min_voti'%}">Max min voti (view_d)</a></li>   
            
        </ol>
{%endblock content%}