
{%extends "base.html"%}

{%block  title%} {{block.super}} | index_2 {%endblock title%}

{%block content%}
      <ol>
        <li><a href="/admin">Pannello admin</a></li>
         <li><a href="{% url 'prima_app:index'%} ">Prima App</a></li>
         <li><a href="{% url 'seconda_app:index_2'%} ">Seconda App</a></li>
         <li><a href="{% url 'prova_pratica_0:index_prova'%} ">Prova Pratica 0</a></li>
         <li><a href="{% url 'news:index4' %} ">News</a></li>
        </ol>
{%endblock content%}
